#topMenu {
    display: flex;
    justify-content: center;
}

#topMenu ul li {
    list-style: none;
    color: white;
    background-color: #2d2d2d;
    float: left;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
}

#topMenu .menuLink {
    text-decoration:none;
    color: white;
    display: block;
    width: 200px;
    font-size: 30px;
    font-weight: bold;

}

#topMenu .menuLink:hover {
    color: red;
    background-color: #4d4d4d;
}

