#topMenu {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100px;
}

#topMenu ul li {
    list-style: none;
    color: white;
    background-color: #2d2d2d;
    float: left;
    line-height: 150px;
    vertical-align: middle;
    text-align: center;
}

#topMenu .menuLink {
    text-decoration:none;
    color: white;
    display: block;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
}

#topMenu .menuLink:hover {
    color: red;
    background-color: #4d4d4d;
}

.menu{
    justify-content: center;
    display: block;
    margin: 30px;
}

.buger_menu{
    justify-content: center;
    display: flex;
    margin: 50px;
}

.buger{
    margin: 50px;
    text-align: center;
    justify-content: center;
}

.buger_name{
    font-size: 20px;
}

