body{
    background-color: #004711;
}

.col_set_1{
    display: flex;
    justify-content: center;
}

.col_set_2{
    display: flex;
    justify-content: center;
}

.haed_image{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    border: none;
}

.menu{
    font-size: 50px;
    color: white;
}

.menu:nth-child(3){
    font-size: 10px;
}

.col_menu{
    margin: 100px;
    justify-content: center;

}